:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navi-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.1);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  --filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --element-gap: 24px;
  /* --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  color: var(--slate);
  background: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**--------------------- Header ---------------------*/

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: var(--shadow);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--navi-blue);
}

.header-logo span {
  color: var(--iris);
}

.nav {
  margin-left: 76px;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--navi-blue);

  /* transition: var(--transition); */
}

.nav-link:is(:hover, :focus) {
  color: var(--ocean);
}

.nav-link.current {
  color: var(--ocean);
}

.header-contacts {
  margin-left: auto;
}

.contact-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--slate);

  /* transition: var(--transition); */
}

.contact-link:is(:hover, :focus) {
  color: var(--ocean);
}

/**--------------------- Hero ---------------------*/

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  text-align: center;

  background-color: var(--navi-blue);
  background-image: linear-gradient(var(--grey), var(--grey)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white);
}

.button {
  margin-top: 48px;
  padding: 16px 32px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white);
  background: var(--iris);
  box-shadow: var(--button-shadow);
  border-radius: 4px;
  border: none;

  /* transition: var(--transition); */
  cursor: pointer;
}

.button:is(:hover, :focus) {
  background: var(--ocean);
}

/**--------------------- Feature ---------------------*/

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: var(--element-gap);
}

.feature-item {
  width: 264px;
}

.feature-icon-bg {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cloud);
  border-radius: 4px;
}

.feature-title {
  margin-top: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navi-blue);
}

.feature-text {
  margin-top: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**--------------------- Services ---------------------*/

.services {
  padding-bottom: 120px;
}

.service-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navi-blue);
}

.services-list {
  display: flex;
  margin-top: 72px;
  gap: var(--element-gap);
}

.services-item {
  border: 1px solid var(--cornflower);
}

/**--------------------- Team ---------------------*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 2560px;

  background-color: var(--cloud);
}

.team-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navi-blue);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: var(--element-gap);
}

/** ---- Card ---- */

.team-item {
  width: 264px;

  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 16px;
}

.employee-title {
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navi-blue);
}

.employee-position {
  margin-top: 8px;
  text-align: center;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-social-list {
  display: flex;
  margin-top: 8px;
  gap: var(--element-gap);
}

.team-social-item {
  padding: 0;
  margin: 0;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: var(--cloud);
  background-color: var(--iris);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  /* transition: var(--transition); */
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--ocean);
}

/**--------------------- Customers---------------------*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--navi-blue);
}

.customers-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--element-gap);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  fill: var(--light-slate);
  border: 1px solid var(--light-slate);
  border-radius: 4px;

  /* transition: var(--transition); */
}

.customers-link:is(:hover, :focus) {
  fill: var(--ocean);
  border: 1px solid var(--ocean);
}

.customers-icon {
  width: 104px;
  height: 56px;
}

/**--------------------- Portfolio ---------------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/** ---- Filter ---- */

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: var(--element-gap);
}

.filter-button {
  padding: 12px 24px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  /* transition: var(--transition); */
  cursor: pointer;
}

.filter-button:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--ocean);
  border-color: var(--ocean);
  box-shadow: var(--filter-button-shadow);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: var(--element-gap);
  row-gap: calc(var(--element-gap) * 2);
}

/** ---- Card ---- */

.portfolio-item {
  width: 360px;

  background-color: var(--white);
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: var(--shadow);
}

.portfolio-content {
  padding: 32px 16px;

  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navi-blue);
}

.portfolio-text {
  margin-top: 8px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--slate);
}

/**--------------------- footer ---------------------*/

.footer {
  padding-top: 102px;
  padding-bottom: 100px;

  background-color: var(--navi-blue);
}

.footer-flex {
  display: flex;
  align-items: first baseline;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--cloud);
}

.footer-logo span {
  color: var(--iris);
}

.footer-text {
  width: 264px;
  margin-top: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cloud);
}

.footer-social-text {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cloud);
}

.social-content {
  margin-left: 120px;
}

.footer-social-list {
  display: flex;
  margin-top: 16px;
  gap: calc(var(--element-gap) - 8px);
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  fill: var(--cloud);
  background-color: var(--transparent-white);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  /* transition: var(--transition); */
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--green);
  opacity: 1;
}
